/* Start Global Rules */

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-duration: 0.5s
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.title {
  font-size: 25px;
  border: 2px solid black;
  text-align: center;
  width: fit-content;
  position: relative;
  padding: 5px 10px;
  text-transform: uppercase;
}

.title h2 {
  padding: 0;
  margin: 0;
}

.title::before {
  content: "";
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  right: -30px;
  position: absolute;
  transition-duration: var(--main-duration);
  transition-property: all;
}

.title::after {
  content: "";
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  left: -30px;
  position: absolute;
  transition-duration: var(--main-duration);
  transition-property: all;
}

.title:hover::after {
  content: "";
  background-color: var(--main-color);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 51%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.title:hover::before {
  content: "";
  background-color: var(--main-color);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 51%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title:hover {
  color: white;
  transition-duration: 4s;
}

@keyframes title {}

/* End Global Rules */

/* Start Header */

.Header {
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px #DDD;
  -webkit-box-shadow: 0 0 10px #DDD;
  -moz-box-shadow: 0 0 10px #DDD;
}

.Header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.Header .logo {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:767px) {
  .Header .logo {
    width: 100%;
  }
  .Header .main-nav {
    margin: auto;
  }
}

.Header .main-nav>li>a {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  color: black;
  overflow: hidden;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

@media (max-width:767px) {
  .Header .main-nav>li>a {
    padding: 10px;
    height: 50px;
    font-size: 14px;
  }
}

.Header .main-nav>li>a:hover {
  background-color: #FAFAFA;
  color: var(--main-color);
  overflow: visible;
}

.Header .main-nav>li>a::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

.Header .main-nav>li>a:hover:before {
  left: 0;
}

.Header .main-nav {
  display: flex;
}

/* End Header */

/* Start Landing */

.landing {
  position: relative;
}

.landing::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -20px;
  z-index: -1;
  background-color: #ECECEC;
  transform: skewY( -6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc( 100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .container .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}

.landing .container .text {
  flex: 1;
}

.landing .container .text p {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.7em;
  margin-top: 10px;
  color: #777;
}

.landing .container .text h1 {
  font-size: 35px;
  word-spacing: -2px;
  margin: 0;
}

.landing .goarrow {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 30px;
  width: 20px;
  height: 32px;
  color: var(--main-color);
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
  animation: bouncing 3s infinite linear;
  -webkit-animation: bouncing 3s infinite linear;
}

@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}

@keyframes up-and-down {
  0%, 100% {
    top: -20px;
  }
  50% {
    top: 20px;
  }
}

@media (max-width:991px) {
  .landing .container .image img {
    display: none;
  }
  .landing .container .text h1 {
    text-align: center;
  }
  .landing .container .text p {
    text-align: center;
    margin: 10px auto;
  }
}

@media (max-width:767px) {
  .landing .container h1 {
    font-size: 26px;
  }
}

@media (max-width:767px) {
  .landing .container .text p {
    font-size: 16px;
  }
}

.landing .goarrow:hover {
  color: var(--main-color-alt);
}

.landing .goarrow i {}

/* End Landing */

/* Start Articles */

.articles .container:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.articles .container:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles .box  {
  width: 300px;
  overflow: hidden;
  background-color: #EEE;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  box-shadow: 0 5px 10px #0000001a;
    -webkit-box-shadow: 0 5px 10px #0000001a;
    -moz-box-shadow: 0 5px 10px #0000001a;
}
.articles .box .context p {
  padding-top: 10px;
  color: #777;
  margin-left: 20px;
  margin-right: 30px;
}
.articles .box .context h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.4em;
}
.articles .box .info {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.articles .box hr {
  margin-bottom: 0;
}
.articles .box .info a {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box img {
  width: 300px;
}

/* End Articles */